body, html {
    text-align: center;
    font-family: "GT-Walsheim", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    //padding: 16px;
}

.wrapper {
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
    text-align: left;
    padding: 0 16px;
    box-sizing: border-box;
}
